<div class="navbar bg-accent">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/">Red Vinylex</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="menu-item">
        <a class="btn btn-ghost" routerLink="/">Inicio</a>
      </li>
      <li class="menu-item">
        <a class="btn btn-ghost" routerLink="/productos">Productos</a>
      </li>
      <li class="menu-item">
        <a class="btn btn-ghost" routerLink="/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</div>
