<div class="w-full">
  
<img src="/assets/banner.png" alt="" class="w-full h-96 object-cover" />
</div>

<div>
  <h2 class="text-3xl text-center mb-4">
    Nuestros productos destacados
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    
    @for (p of principalProductos; track $index) {
      <div class="card bg-secondary">
        <img src="{{ p.image }}" alt="{{ p.nombre }}" class="w-full h-48 object-cover" />
        <div class="card-body">
          <h2 class="card-title
            text-xl
            font-semibold
            text-center
            mb-2">
            {{ p.nombre }}
          </h2>
          <p class="text-center">
            {{ p.descripcion }}
          </p>
          <p class="text-center
            font-semibold
            text-xl
            mt-2">
            ${{ p.precio }}
          </p>
          
        </div>
      </div>
    }

    </div>

</div>