<div class="flex justify-center p-4 w-full h-screen">
  <div class="w-1/2 p-4">
    <h2 class="text-3xl text-center mb-4">
      Escríbenos
    </h2>
    <div class="flex flex-col space-y-4">
      <div class="flex space-x-4">
        <label class="input input-bordered flex-grow border-black">
          <input type="text" placeholder="Nombre" class="w-full border-black" />
        </label>
        <label class="input input-bordered flex-grow border-black">
          <input type="text" placeholder="Apellido" class="w-full border-black" />
        </label>
      </div>
      <div class="flex space-x-4">
        <label class="input input-bordered flex-grow border-black">
          <input type="text" placeholder="Email" class="w-full border-black" />
        </label>
        <label class="input input-bordered flex-grow border-black">
          <input type="text" placeholder="Asunto" class="w-full border-black" />
        </label>
      </div>
      <label>
        <textarea placeholder="Mensaje" class="textarea textarea-bordered w-full h-32 border-black"></textarea>
      </label>
    </div>
  </div>
  <div class="w-1/2 p-4">
    <h2 class="text-3xl text-center mb-4">
      Oficinas
    </h2>
    <p class="mb-2">
      Juan de la Barrera 123, Parque Industrial, 2020, Guadalajara, Jalisco
    </p>
    <p class="mb-2">
      Teléfono: 33 1234 5678 y 33 8765 4321
    </p>
    <p>
      Correo:
      <a href="mailto:urieher99" class="link">
        vinilexnegocio.com
      </a>
    </p>
  </div>
</div>
